{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <h2 class="mt-4 mb-5 text-center">Mot de passe</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                {% include 'inc/flash_messages.html.twig' %}
                <p>Rentrez l'adresse email associée à votre compte s'il vous plait</p>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}


                <p>
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email) }}
                </p>

                <input type="submit"  class="btn btn-primary" name="submit" value="Valider">
                </p>

                {{ form_end(form) }}

            </div>
            <div class="col"></div>
        </div>
    </div>

    {% include "inc/footer_fixed.html.twig" %}

{% endblock %}