<h1>YBonjour</h1>
o
<p>Vous ne vous rappelez plus de votre mot de passe!</p>
<p>Pas de problème, réenitialisez le </p>

<p>lol</p>

<a href="{{ url('app.account.modify_password', {'email': email , 'token':  token }) }}">
    Clique sur le lien pour pouvoir le modifier</a>
