<footer>
    <nav class="navbar fixed-bottom navbar-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/Pizza_Patron_Logo.jpg')}}" width="60" height="60" class="d-inline-block align-middle" alt="">
            Pizza Patron
        </a>
        </div>
        <div>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
        </div>
    </nav>

</footer>