{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="mt-4 mb-5 text-center">Notre histoire</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <article>
                    <img src="" id="photohistory" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis pellentesque nibh, eget volutpat arcu.
                        Curabitur sit amet ex leo. Vestibulum porta auctor tortor, in laoreet augue iaculis eu. Nam orci libero,
                        efficitur eget interdum vel, convallis nec nibh. Mauris dictum auctor sapien, porta placerat metus viverra
                        vel. Phasellus libero mauris, laoreet nec rutrum et, semper quis tortor. Quisque elementum nunc at augue
                        vestibulum dictum. Duis in ex dolor. Etiam accumsan blandit viverra. Praesent felis nisl, dapibus at
                        vestibulum at, elementum sit amet mauris. In consequat tincidunt felis sit amet commodo. Curabitur libero
                        nisl, viverra sit amet purus ut, aliquet pulvinar nulla.<br><br>

                        Donec ut mi ullamcorper, aliquet sem et, pharetra ex. Aenean in erat eget risus vehicula convallis. Donec
                        pulvinar neque finibus sagittis rhoncus. Ut at pulvinar metus, eu fringilla elit. Fusce faucibus mollis
                        turpis, nec luctus sapien sagittis ut. Phasellus eget vulputate arcu, vel sagittis turpis. Pellentesque nec
                        tincidunt mauris, id rutrum elit. Quisque tempus turpis a erat aliquet, vel tempus lorem tincidunt.
                        Vivamus auctor leo non diam commodo semper. In laoreet aliquet mauris nec congue.


                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis pellentesque nibh, eget volutpat arcu.
                        Curabitur sit amet ex leo. Vestibulum porta auctor tortor, in laoreet augue iaculis eu. Nam orci libero,
                        efficitur eget interdum vel, convallis nec nibh. Mauris dictum auctor sapien, porta placerat metus viverra
                        vel. Phasellus libero mauris, laoreet nec rutrum et, semper quis tortor. Quisque elementum nunc at augue
                        vestibulum dictum. Duis in ex dolor. Etiam accumsan blandit viverra. Praesent felis nisl, dapibus at
                        vestibulum at, elementum sit amet mauris. In consequat tincidunt felis sit amet commodo. Curabitur libero
                        nisl, viverra sit amet purus ut, aliquet pulvinar nulla.</p>
                </article>
        <h2 class="mt-4 mb-5 text-center">Nos produits</h2>
                <article >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis pellentesque nibh, eget volutpat arcu.
                        Curabitur sit amet ex leo. Vestibulum porta auctor tortor, in laoreet augue iaculis eu. Nam orci libero,
                        efficitur eget interdum vel, convallis nec nibh. Mauris dictum auctor sapien, porta placerat metus viverra
                        vel. Phasellus libero mauris, laoreet nec rutrum et, semper quis tortor. Quisque elementum nunc at augue
                        vestibulum dictum. Duis in ex dolor. Etiam accumsan blandit viverra. Praesent felis nisl, dapibus at
                        vestibulum at, elementum sit amet mauris. In consequat tincidunt felis sit amet commodo. Curabitur libero
                        nisl, viverra sit amet purus ut, aliquet pulvinar nulla.<br><br>

                        Donec ut mi ullamcorper, aliquet sem et, pharetra ex. Aenean in erat eget risus vehicula convallis. Donec
                        pulvinar neque finibus sagittis rhoncus. Ut at pulvinar metus, eu fringilla elit. Fusce faucibus mollis
                        turpis, nec luctus sapien sagittis ut. Phasellus eget vulputate arcu, vel sagittis turpis. Pellentesque nec
                        tincidunt mauris, id rutrum elit. Quisque tempus turpis a erat aliquet, vel tempus lorem tincidunt.
                        Vivamus auctor leo non diam commodo semper. In laoreet aliquet mauris nec congue.


                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis pellentesque nibh, eget volutpat arcu.
                        Curabitur sit amet ex leo. Vestibulum porta auctor tortor, in laoreet augue iaculis eu. Nam orci libero,
                        efficitur eget interdum vel, convallis nec nibh. Mauris dictum auctor sapien, porta placerat metus viverra
                        vel. Phasellus libero mauris, laoreet nec rutrum et, semper quis tortor. Quisque elementum nunc at augue
                        vestibulum dictum. Duis in ex dolor. Etiam accumsan blandit viverra. Praesent felis nisl, dapibus at
                        vestibulum at, elementum sit amet mauris. In consequat tincidunt felis sit amet commodo. Curabitur libero
                        nisl, viverra sit amet purus ut, aliquet pulvinar nulla.</p>
                </article>
                <div class="bio">
                    <img src="" id="vegetables">
                    <img src="" id="bio">
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>


    {% include "inc/footer.html.twig" %}

{% endblock %}